blockquote {
  border-left: 5px solid blue;
  padding: 15px;
  margin-left: 0px;
}

cite {
  display: block;
  margin-top: 10px;
}

#external-links ul {
  list-style-type: none;
  padding-left: 0px;
  width: 20%;
}

/* you're welcome to edit the
image, figure, and figcaption CSS if you'd like, 
but it's optional! */
img {
  width: 100%;
}

figure {
  margin-left: 0px;
  margin-right: 0px;
}

figcaption {
  font-style: italic;
  text-align: right;
}

body{
  width: 960px;
  display: inline-flex;
  vertical-align: text-top;
  margin: 75px;

}
main{
  max-width: 960px;
  min-width: 5%;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 12px;
  }
}
@media screen and (max-width: 600px;) {
  img {
  width: 50%;
  }
}
/*
@media screen and (max-width: 500px) {
  body {
    background-color: hotpink;
  }
/*
